<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div class="content">
            <div class="addbook">
                <h3>本を追加する</h3>
                <form action="/addbook" method="post">
                    <input type="text" name="title">
                    <input type="text" name="author">
                    <input type="submit" value="追加">
                </form>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>