<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div class="content">
            <div class="ocr">
                <form action="/ocr" method="post" enctype="multipart/form-data">
                    <input type="file" name="picture">
                    <select name="shelf_id">
                        
                        {%for op in shelfs%}
                        <option value="{{op.id}}">{{op.name}}</option>
                        {%endfor%}
                    </select>
                    <input type="submit" value="">

                </form>
            </div>
            <div class="addbook">
                <h3>本を追加する</h3>
                <form action="/addbook" method="post">
                    <input type="text" name="title">
                    <input type="text" name="author">
                    <input type="submit" value="追加">
                </form>
            </div>
            <div class="addshelf">
                <h3>本棚を追加する</h3>
                <form action="/addshelf" method="post">
                    <input type="text" name="name">
                    <input type="submit" value="追加">
                </form>
            </div>
        </div>
        <div class="本">
            {%for %}
             <p></p>
            {%endfor%}
        </div>
    </main>
    <footer></footer>
</body>
</html>